In [1]:
print("hello world")

hello world

In [1]:
x = 10                   # int
salary = 45000.50        # float
is_active = True         # boolean
skills = ["SQL", "Python", "AWS"]   # list

print(x, salary, is_active, skills)

10 45000.5 True ['SQL', 'Python', 'AWS']

In [2]:
age = 28

if age > 25:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [2]:
name = "Akriti"
experience = 8
print(name, experience)

Akriti 8

In [3]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Akriti"))

Hello, Akriti!

In [3]:
for i in range(1, 6):
    print("Number:", i)

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [4]:
skills = ["SQL", "Python", "AWS"]
for s in skills:
    print(s)

SQL
Python
AWS

In [5]:
def annual_salary(monthly_salary):
    return monthly_salary * 12

print(annual_salary(50000))

600000

In [4]:
def even_odd(num):
    if(num%2)==0:
        return ("even")
    else:
        return ("odd")

print(even_odd(5))

odd

In [7]:
def cnt_list(lst):
    cnt=0
    for i in(lst):
        if(i>50):
            cnt=cnt+1
    return cnt
print(cnt_list([10,55,23,85,7]))

2

In [9]:
sample={
    "name":"john",
"place":"faridabad",
"field":"IT",
"salary":58000
}
import json
with open("profile.json","w")as f:
    json.dump(sample,f)

In [10]:
with open("profile.json","r") as f:
    data=json.load(f)
    print(data)

{'name': 'john', 'place': 'faridabad', 'field': 'IT', 'salary': 58000}

In [11]:
with open("employees.csv", "w") as f:
    f.write("id,name,salary\n")
    f.write("1,Riya,50000\n")
    f.write("2,Amit,60000\n")

In [12]:
import csv

with open("employees.csv", "r") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['id', 'name', 'salary']
['1', 'Riya', '50000']
['2', 'Amit', '60000']

In [18]:
import csv
with open("employees.csv") as f:
    reader=csv.DictReader(f)
    for i in reader:
        if int(i["salary"])>55000:
            print (i["name"])

Amit